absl-py==2.3.0
aiofiles==24.1.0
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==4.9.0
audio-separator==0.14.3
audioread==3.0.1
bitarray==3.4.2
blinker==1.9.0
boto3==1.38.40
botocore==1.38.40
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
cycler==0.12.1
Cython==3.1.2
decorator==5.2.1
demucs==4.0.1
dora_search==0.1.12
einops==0.8.1
exceptiongroup==1.3.0
fairseq==0.12.2
faiss-cpu==1.11.0
fastapi==0.115.13
ffmpeg-python==0.2.0
ffmpy==0.6.0
filelock==3.18.0
Flask==3.1.1
flask-cors==6.0.1
flatbuffers==25.2.10
fonttools==4.58.4
fsspec==2025.5.1
functorch==2.0.0
future==1.0.0
gradio==5.34.1
gradio_client==1.10.3
groovy==0.1.2
grpcio==1.73.0
h11==0.16.0
hf-xet==1.1.4
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.33.0
humanfriendly==10.0
hydra-core==1.0.7
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
json5==0.12.0
julius==0.2.7
kiwisolver==1.4.8
lameenc==1.8.1
librosa==0.9.2
lxml==5.4.0
Markdown==3.8.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
networkx==3.4.2
numba==0.56.4
numpy==1.23.5
omegaconf==2.0.6
onnx==1.18.0
onnx2torch==1.5.15
onnxruntime==1.22.0
openunmix==1.3.0
orjson==3.10.18
packaging==25.0
pandas==2.3.0
pillow==11.2.1
platformdirs==4.3.8
pooch==1.8.2
portalocker==3.2.0
praat-parselmouth==0.4.6
protobuf==6.31.1
psycopg==3.2.9
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytube==15.0.0
pytz==2025.2
pyworld==0.3.5
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
resampy==0.4.3
retrying==1.3.4
rich==14.0.0
ruff==0.12.0
s3transfer==0.13.0
sacrebleu==2.5.1
safehttpx==0.1.6
scikit-learn==1.7.0
scipy==1.9.3
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
starlette==0.46.2
submitit==1.5.3
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.4
threadpoolctl==3.6.0
tomlkit==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchcrepe==0.0.24
torchgen==0.0.1
torchvision==0.15.2
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
treetable==0.2.5
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
uc-micro-py==1.0.3
urllib3==2.5.0
uvicorn==0.34.3
websockets==15.0.1
Werkzeug==3.1.3
yt-dlp==2025.6.9
